baseURL = "https://www.preeper.org/"
languageCode = "en-us"
title = "Preeper.org"

[params]
author = "Peter Preeper"

[permalinks]
docs = "/:contentbasename/"
posts = "/:contentbasename/"
tutorials = "/:contentbasename/"

[deployment]
order = [".png$", ".jpg$", ".gif$", ".svg$"]

[[deployment.matchers]]
# Cache static assets for 20 years.
cacheControl = "max-age=630720000, no-transform, public"
gzip = true
pattern = "^.+\\.(js|css|png|jpg|gif|svg|ttf)$"

[[deployment.matchers]]
gzip = true
pattern = "^.+\\.(html|xml|json)$"
