<!DOCTYPE html>
{{ partial "head.html" . }}

<body>
    {{ partial "navbar.html" . }}

    <div id="main">
        <div style="text-align: center;">
            <h1>{{ .Title }}</h1>
        </div>

        <div class="prodgroups">
            {{ range .Pages.GroupByParam "pgroup1" }}
            <div class="prodgroup">
                <h3>{{ .Key }}</h3>
                {{ range .Pages.GroupByParam "pgroup2" }}
                <h4>{{ .Key }}</h4>
                <ul>
                    {{ range .Pages }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>

    {{ partial "footer.html" . }}
</body>

</html>